%h4 [Yvo's slogan]
%p
  Call us on
  %span.tel +31 6 29 49 69 87
  or send an
  = mail_to 'yvo@ypuconsulting.com', 'email', :class => 'email'
%ul.social
  %li
    %a{ href: 'http://nl.linkedin.com/in/yvotrimbos', target: '_blank', title: 'View my LinkedIn profile' }>
      %i.icon-linkedin-sign>
      %span Linked in
  %li
    %a{ href: 'mailto: yvo@ypuconsulting.com', title: 'Send an email' }
      %i.icon-envelope-alt
      %span E-mail
