@import 'compass/typography/vertical_rhythm';

.banner {
  @include rhythm(0,1,1,0);
  background: grey;
  text-align: center;
  header {
    h1 {
      @include margin-leader(3, ms(7));;
      @include adjust-font-size-to(ms(7));
      font-weight: bold;
    }
    h2 {
      margin-top: 0;
      letter-spacing: -1px;
      @include adjust-font-size-to(ms(2), 1);
    }
  }
}
