@import 'compass/typography/vertical_rhythm';

footer {
  font-family: $sans-serif-font-family;
  background: #999;
  text-align: center;
  @include margin-leader(2);
  h4 {
    @include adjust-font-size-to(ms(2));
    @include rhythm(0, 1.5, .5, 0, ms(2));
    text-transform: uppercase;
    font-style: italic;
  }
  .tel {
    display: block;
    @include adjust-font-size-to(ms(1), 1);
    font-weight: bold;
    letter-spacing: 1px;
  }
  small {
    display: block;
    background: #ccc;
    @include adjust-font-size-to(ms(-1));
    @include rhythm(0,2,2,0,ms(-1));
    .copyright, .disclaimer {
      display: inline-block;
    }
  }
}

@import "compass/typography/lists/inline-list";
@import "compass/typography/links/unstyled-link";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

$size: 4*$base-font-size;
ul.social {
  @include inline-list;
  li {
    margin: 0 1em;
    display: inline-block;
    @include margin-trailer(1);
    a {
      @include transition(all .25s ease);
      @include unstyled-link;
      @include adjust-font-size-to(ms(3));
      @include border-radius(50%);
      width: $size;
      height: $size;
      line-height: $size;
      display: inline-block;
      background: white;
      span {
        display: none;
      }
      &:hover {
        color: white;
        background: black;
      }
    }
  }
}


